.timer-body {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 1em;
}

.timer-button {
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: #199675;
    color: #ffffff;
}

.timer-button:hover {
    background: #11634d;
}